.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

html,
body {
  height: 100%;
  margin: 0;
}

.contentDiv {
}

.card {
  height: 45vh;
  width: 40vw;
  overflow: auto;
  border-radius: 2%;
  text-align: center;
  border: 2px solid #929292;
  justify-content: auto;
}

.card-item {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.newsCard img {
  object-fit: cover;
  width: 50%;
  height: 100%;
  float: left;
}

.newsCard h3 {
  color: black;
  text-align: center;
}

.newsCard {
  border: 1px solid black;
  overflow: auto;
  width: 100%;
}

.menuTitle {
  justify-content: center;
}

.sportsTicker {
  width: 100%;
  display: flex;
}

.sportsTickerDiv {
  position: relative;
}
/*  ---------- landing page ------------ */
.landingPage {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.landingPageButtonDiv {
  margin: 0 auto;
  text-align: center;
}

.titleLandingPage {
  justify-content: center;
  text-align: center;
  display: flex;
  color: rgb(0, 0, 0);
  font-family: rockwell;
  font-size: 10em;
  font-weight: bold;
  align-self: baseline;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subheadingTitlePage {
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: rockwell;
  font-size: 5em;
  align-self: baseline;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.landingPageButton {
  width: 30%;
}

/* ------------------------------------ */

/* ------------ login form  ------------- */

.logInForm {
  text-align: center;
  margin: 0 auto;
  padding: 10%;
}

.loginInFormDiv {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

/* ------------------------------------- */
.menu {
  overflow: auto;
}

.menuAppBar {
  display: block;
  width: 100vw;
  margin: auto;
}

.contentOuterDiv {
  display: grid;
}

.conentInnerCard {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .twitter {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  display: block;
  height: 60vh;
  overflow: auto;
} */

.podcastMenu {
  overflow: auto;
  width: 100%;
  display: block;
}
.twitterMenuDiv {
}

.twitterMenuDiv form {
  float: right;
}

.twitterMenu {
  float: left;
}

.youtubeDiv {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
  text-align: center;
}

.youtubeReactPlayer {
  margin: 0 auto;
}

.youtubeMenu {
  float: left;
}

.podcast {
  height: 27vh;
  width: 100%;
}

.spotifyInnerDiv {
  display: inline-block;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* .newsfeed {
  order: 0;
  flex: 2 1 auto;
  align-self: flex-start;
  display: block;
  height: 60vh;
  overflow: auto;
} */

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.twitterMenuItem {
  overflow: auto;
  background-color: #c8cacc;
}
