.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.appContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.grid2x2 > div {
  display: flex;
  flex-basis: calc(50% - 40px);
  justify-content: center;
  flex-direction: column;
}
.grid2x2 > div > div {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

html,
body {
  height: 100%;
  margin: 0;
}

.card {
  height: 50vh;
  width: 50vw;
  overflow: auto;
  display: block;
  text-align: center;
}

.card-item {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.news img {
  object-fit: cover;
  width: 100%;
  height: 7%;
}

.news {
  border-radius: 1px solid black;
  overflow: auto;
}

.menuTitle {
  text-align: center;
}

.sportsTicker {
  width: 100%;
}

.landingPage {
  background-color: #f20b0f;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titleLandingPage {
  justify-content: center;
  color: aliceblue;
  font-family: rockwell;
  font-size: 10em;
  font-weight: bold;
  align-self: baseline;
}

.subheadingTitlePage {
  text-align: center;
  justify-content: center;
  color: aliceblue;
  font-family: rockwell;
  font-size: 5em;
  align-self: baseline;
}

.menu {
  overflow: auto;
}
/* .twitter {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  display: block;
  height: 60vh;
  overflow: auto;
} */

/* .youtube {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
} */

/* .spotify {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  display: grid;
  float: right;
  align-self: baseline;
} */
/* .newsfeed {
  order: 0;
  flex: 2 1 auto;
  align-self: flex-start;
  display: block;
  height: 60vh;
  overflow: auto;
} */

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar input {
  width: 75%;
}

.video-item img {
  max-width: 64px;
}

.video-detail .details {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.list-group-item {
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}
