.App {
  text-align: center;
}

.appContainer {
  min-height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

html,
body {
  height: 100%;
  margin: 0;
}

.navbar img {
  width: 15vw;
  height: 5vh;
  float: left;
  border: 2px solid black;
}

/* --------- buttons ----------- */
#buttonColour {
  background: rgb(7, 251, 139);
  border: 1px solid black;
}

/* -------------------------------- */

/* ----------- cards -------------- */

.card {
  height: 45vh;
  width: 40vw;
  overflow: auto;
  text-align: center;
  border: 3px solid black;
}

.card-item {
  display: inline-block;
  margin: 0 auto;
  width: 90%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

/* --------------------------------- */

/* --------------- news feed -------- */

.newsCard img {
  object-fit: cover;
  width: 50%;
  height: 100%;
  float: left;
  clear: left;
}

.newsCard h3 {
  padding-top: 10%;
  color: black;
  text-align: center;
}

.newsCardTitleDiv {
  background: rgb(7, 251, 139);
  height: 5vh;
}

.newsCard {
  overflow: auto;
  width: 100%;
  border: 2px solid black;
}

.newsTitleUnderscore {
  width: 15vw;
  height: 1vh;
  background: black;
  float: right;
  margin-right: 12%;
}

/* ------------------------------- */

/* ------- Sports Ticker -------------- */

.sportsTicker {
  width: 100%;
  display: flex;
}

.sportsTickerDiv {
  position: relative;
}

/* -------------------------------------- */
/*  ---------- landing page ------------ */
.landingPage {
  background-color: #ffffff;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.landingPageButtonDiv {
  margin: 0 auto;
  text-align: center;
}

.titleLandingPage {
  justify-content: center;
  text-align: center;
  display: flex;
  color: rgb(0, 0, 0);
  font-family: rockwell;
  font-size: 10em;
  font-weight: bold;
  align-self: baseline;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.subheadingTitlePage {
  text-align: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  font-family: rockwell;
  font-size: 5em;
  align-self: baseline;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.landingPageButton {
  width: 30%;
}

/* ------------------------------------ */

/* ------------ login form  ------------- */

.loginPage {
  display: inline-block;
}

#signuplogo {
  width: 100vw;
  height: 20vw;
}

.backToHomeButton {
  width: 100%;
}

.logInForm {
  text-align: center;
  margin: 0 auto;
  padding: 10%;
  background: rgb(7, 251, 139);
  border: 2px solid black;
  width: 100vw;
}

.loginInFormDiv {
  position: absolute;
  width: 300px;
  height: 200px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

/* ------------------------------------- */
.menu {
  overflow: auto;
}

/* -------- nav  bar ------------ */

.menuAppBar {
  display: block;
  width: 100vw;
  margin-bottom: 1%;
  padding-bottom: 1.5vh;
  background: rgb(7, 251, 139);
  padding: 0.5%;
}

.navbar {
  display: sticky;
  width: 100vw;
  height: 5vh;
  margin: auto;
}

.navbarLogout {
  height: 5vh;
  float: right;
}

#navbarLogoutId {
  background-color: rgb(7, 251, 139);
  margin-right: 1vw;
}

.navbarLogoutText {
  margin: 0 auto;
  padding-top: 15%;
  font-weight: bold;
  padding-bottom: 5vh;
  font-size: large;
}

/* ------------------------------------ */

/* ---------- content -------------- */

.contentOuterDiv {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background: white;
  height: 100vh;
}

.contentInnerCard {
  overflow: auto;
  align-content: center;
  justify-content: center;
}

/* -------------------------------- */

/* ----------------Twitter ---------------- */

.timelineTweet {
  order: 0;
  flex: 1 1 auto;
  align-self: stretch;
  display: block;
  height: 60vh;
  overflow: auto;
}

.twitterMenuDiv form {
  float: right;
}

.twitterMenu {
  float: left;
}
.twitterMenuItem {
  overflow: auto;
}

/* ----------------------------------- */

/* -------------- Podcast ------------- */

.podcastMenu {
  overflow: auto;
  width: 100%;
  display: block;
}

.podcast {
  height: 27vh;
  width: 100%;
}

/* ---------------------------------- */

/* ----------- Youtube ------------------ */
.youtubeDiv {
  order: 0;
  flex: 2 1 auto;
  align-self: auto;
  text-align: center;
  width: 100%;
}

.youtubeReactPlayer {
  margin: 0 auto;
}

.youtubeMenu {
  float: left;
  margin-bottom: 6px;
}

/* --------------------------------------- */
